<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header">
    <h1 class="logo"><a href="/">Blog</a></h1>
  </div>
  <hr>
  <div class="content">
    <%= yield %>
  </div>
  <hr>
  <div class="footer">
    RORLab Blog
  </div>
</div>

</body>
</html>